<div class="container-fluid">
  <div class="card p-3 mt-3 tabs">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <img class="me-2" src="../../../assets/images/user.png" alt="">
          <span>Personal Information</span>
        </ng-template>
         <div class="tab-content overflow-hidden mt-3">
          <div class="form">
            <form>
          <div class="row p-0">
            <div class="col-md-12">
              <button class="camerabtn"><img src="../../../assets/images/camera.png" alt=""></button>
            </div>

                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
                </div>
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
                </div>
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
                </div>
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
                </div>
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
                </div>
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Marital Status</mat-label>
                    <mat-select disableRipple>
                      <mat-option value="1">Married</mat-option>
                      <mat-option value="2">Unmarried</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <mat-select disableRipple>
                      <mat-option value="1">Male</mat-option>
                      <mat-option value="2">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Nationality</mat-label>
                    <mat-select disableRipple>
                      <mat-option value="1">Indian</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
                </div>
                <div class="col-md-4 mt-3">
                  <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <mat-select disableRipple>
                      <mat-option value="1">Bangalore</mat-option>
                      <mat-option value="2">Mysore</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 mt-3">
                  <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <mat-select disableRipple>
                      <mat-option value="1">Karnataka</mat-option>
                      <mat-option value="2">Karnataka</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 mt-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Zip Code</mat-label>
                    <mat-select disableRipple>
                      <mat-option value="1">564567</mat-option>
                      <mat-option value="2">564567</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
            <div class="form-group float-end">
              <button class="cancel">Cancel</button>
              <button class="ms-3 next">Next</button>
            </div>
          </form>
          </div>
         </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img class="me-2" src="../../../assets/images/JobIconBlack.jpg" alt="">
          <span>Professional Information</span>
        </ng-template>
        Content 2
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img class="me-2" src="../../../assets/images/document-text.png" alt="">
          <span>Documents</span>
        </ng-template>

        Content 3
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img class="me-2" src="../../../assets/images/lock.png" alt="">
          <span>Account Access</span>
        </ng-template>

        Content 4
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
