<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="contnet p-3">
              <div class="cardTitle d-flex align-items-center h-100">
                <div class="icon">
                  <img src="../../../assets/images/EMPBlue.png" alt="">
                </div>
                <div class="ms-3">
                  <h4 class="mb-0">Total Employee</h4>
                </div>
              </div>
              <div class="cardContent mt-3 d-flex align-items-center justify-content-between">
                <div class="number">
                  <h1 class="fw-bold mb-0">560</h1>
                </div>
                <div class="percent d-flex align-items-center justify-content-between">
                  <img src="../../../assets/images/up-arrowUpGreenArrow.png" alt="">
                  <span>12%</span>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="footer p-3">
              <h4 class="mb-0"> Update: July 16,2023</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="contnet p-3">
              <div class="cardTitle d-flex align-items-center h-100">
                <div class="icon">
                  <img src="../../../assets/images/EMPBlue.png" alt="">
                </div>
                <div class="ms-3">
                  <h4 class="mb-0">Total Employee</h4>
                </div>
              </div>
              <div class="cardContent mt-3 d-flex align-items-center justify-content-between">
                <div class="number">
                  <h1 class="fw-bold mb-0">560</h1>
                </div>
                <div class="percent d-flex align-items-center justify-content-between">
                  <img src="../../../assets/images/up-arrowUpGreenArrow.png" alt="">
                  <span>12%</span>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="footer p-3">
              <h4 class="mb-0"> Update: July 16,2023</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="contnet p-3">
              <div class="cardTitle d-flex align-items-center h-100">
                <div class="icon">
                  <img src="../../../assets/images/EMPBlue.png" alt="">
                </div>
                <div class="ms-3">
                  <h4 class="mb-0">Total Employee</h4>
                </div>
              </div>
              <div class="cardContent mt-3 d-flex align-items-center justify-content-between">
                <div class="number">
                  <h1 class="fw-bold mb-0">560</h1>
                </div>
                <div class="redpercent d-flex align-items-center justify-content-between">
                  <img src="../../../assets/images/down-arrow.png" alt="">
                  <span>12%</span>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="footer p-3">
              <h4 class="mb-0"> Update: July 16,2023</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="contnet p-3">
              <div class="cardTitle d-flex align-items-center h-100">
                <div class="icon">
                  <img src="../../../assets/images/EMPBlue.png" alt="">
                </div>
                <div class="ms-3">
                  <h4 class="mb-0">Total Employee</h4>
                </div>
              </div>
              <div class="cardContent mt-3 d-flex align-items-center justify-content-between">
                <div class="number">
                  <h1 class="fw-bold mb-0">560</h1>
                </div>
                <div class="percent d-flex align-items-center justify-content-between">
                  <img src="../../../assets/images/up-arrowUpGreenArrow.png" alt="">
                  <span>12%</span>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="footer p-3">
              <h4 class="mb-0"> Update: July 16,2023</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card p-3">
          <div class="chartHeading d-flex align-items-center justify-content-between">
            <div>
              <h1 class="mb-0 fw-bold">Attendence Overview</h1>
            </div>
            <div>
              <select>
                <option>Today</option>
                <option>Yesterday</option>
              </select>
            </div>
          </div>
          <div>
            <canvas id="attendance"></canvas>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-3 p-3 h-100">
        <div class="calenderheading d-flex align-items-center justify-content-between">
          <div>
            <h1 class="fw-bold">My Schedule</h1>
          </div>
          <div class="calender">
            <img src="../../../assets/images/calendarBlue.png" alt="">
          </div>

        </div>

        <div class="calender">
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar></mat-calendar>
          </mat-card>
        </div>
        <hr class="mb-0">
        <div class="calenderevents mt-3">
          <div class="d-flex align-items-center justify-content-between">
            <h2 class="mb-0">Wednesday, 06 July 2023</h2>
            <img src="../../../assets/images/more-vertical.png" alt="">
          </div>
          <div>
            <div class="row mt-3">
              <div class="col-xl-2 col-lg-3 col-md-12 col-sm-2 col-3">
                <h2 class="fw-bold mb-1 time">09:300</h2>
              </div>
              <div
                class="col-lg-1 col-md-2 col-sm-2 col-1 d-flex d-sm-flex d-md-flex align-items-center justify-content-center pe-1 ps-1">
                <div class="verticalline"></div>
              </div>
              <div class="col-xl-9 col-lg-8 col-md-12 col-sm-8 col-8">
                <h3 class="fw-normal mb-0">UI/UX Designer</h3>
                <h2 class="fw-bold mb-0">Practical Task Review </h2>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xl-2 col-lg-3 col-md-12 col-sm-2 col-3">
                <h2 class="fw-bold mb-1 time">09:300</h2>
              </div>
              <div
                class="col-lg-1 col-md-2 col-sm-2 col-1 d-flex d-sm-flex d-md-flex align-items-center justify-content-center pe-1 ps-1">
                <div class="verticalline"></div>
              </div>
              <div class="col-xl-9 col-lg-8 col-md-12 col-sm-8 col-8">
                <h3 class="fw-normal mb-0">UI/UX Designer</h3>
                <h2 class="fw-bold mb-0">Practical Task Review </h2>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xl-2 col-lg-3 col-md-12 col-sm-2 col-3">
                <h2 class="fw-bold mb-1 time">09:300</h2>
              </div>
              <div
                class="col-lg-1 col-md-2 col-sm-2 col-1 d-flex d-sm-flex d-md-flex align-items-center justify-content-center pe-1 ps-1">
                <div class="verticalline"></div>
              </div>
              <div class="col-xl-9 col-lg-8 col-md-12 col-sm-8 col-8">
                <h3 class="fw-normal mb-0">UI/UX Designer</h3>
                <h2 class="fw-bold mb-0">Practical Task Review </h2>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <h2 class="mb-0">Wednesday, 06 July 2023</h2>
            <img src="../../../assets/images/more-vertical.png" alt="">
          </div>

          <div class="row mt-3">
            <div class="col-xl-2 col-lg-3 col-md-12 col-sm-2 col-3">
              <h2 class="fw-bold mb-1 time">09:300</h2>
            </div>
            <div
              class="col-lg-1 col-md-2 col-sm-2 col-1 d-flex d-sm-flex d-md-flex align-items-center justify-content-center pe-1 ps-1">
              <div class="verticalline"></div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-8 col-8">
              <h3 class="fw-normal mb-0">UI/UX Designer</h3>
              <h2 class="fw-bold mb-0">Practical Task Review </h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-xl-2 col-lg-3 col-md-12 col-sm-2 col-3">
              <h2 class="fw-bold mb-1 time">09:300</h2>
            </div>
            <div
              class="col-lg-1 col-md-2 col-sm-2 col-1 d-flex d-sm-flex d-md-flex align-items-center justify-content-center pe-1 ps-1">
              <div class="verticalline"></div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-8 col-8">
              <h3 class="fw-normal mb-0">UI/UX Designer</h3>
              <h2 class="fw-bold mb-0">Practical Task Review </h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-xl-2 col-lg-3 col-md-12 col-sm-2 col-3">
              <h2 class="fw-bold mb-1 time">09:300</h2>
            </div>
            <div
              class="col-lg-1 col-md-2 col-sm-2 col-1 d-flex d-sm-flex d-md-flex align-items-center justify-content-center pe-1 ps-1">
              <div class="verticalline"></div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-8 col-8">
              <h3 class="fw-normal mb-0">UI/UX Designer</h3>
              <h2 class="fw-bold mb-0">Practical Task Review </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table mt-3">
    <div class="card  p-3 mt-3">
      <div class="tableHeading d-flex align-items-center justify-content-between">
        <div>
          <h1 class="mb-0 fw-bold">Attendance Overview</h1>
        </div>
        <div>
          <button class="viewall">View All</button>
        </div>
      </div>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="employeeName">
            <th mat-header-cell *matHeaderCellDef> Employee Name </th>
            <td mat-cell *matCellDef="let element"> <span>
                <img src="../../../assets/images/tABLE pROFILE iMAGES/profile3.png" alt="">
              </span> {{element.employeeName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef> Designation </th>
            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="checkintime">
            <th mat-header-cell *matHeaderCellDef> Check In Time </th>
            <td mat-cell *matCellDef="let element"> {{element.checkintime}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <span [ngClass]="element.status=== 'Late'? 'bg-red': 'bg-green'">{{element.status}} </span></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>


      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
